## Configure logging

In [1]:
import pathlib
import logging
import ipynbname

notebook_name = ipynbname.name()
log_file_path = pathlib.Path(notebook_name).with_suffix('.log')

logging.basicConfig(
    format='%(asctime)s %(levelname)s: %(message)s', 
    level=logging.INFO, 
    datefmt="%Y-%m-%d %H:%M:%S",
    handlers=[
        logging.FileHandler(log_file_path), 
        logging.StreamHandler()
    ]
)
logger = logging.getLogger()
logger.info(f"Custom logger for '{notebook_name}' notebook created")

2023-08-17 14:57:40 INFO: Custom logger for 'Usage' notebook created

## Import packages

### Tested on different versions of sqlalchemy, including legacy ones

In [2]:
# pip install sqlalchemy==1.3.0

In [3]:
# pip install sqlalchemy==1.4.0

In [4]:
# pip install sqlalchemy==2.0.0

In [5]:
import time

import pandas as pd
import sqlalchemy as sa

logger.warning(f'sqlalchemy.__version__ = {sa.__version__}')

import sqldbclient

from sqldbclient import SqlExecutor, SqlExecutorConf

from sqldbclient import sql_engine_factory

from sqldbclient.db_inspector import inspect

from sqldbclient.dialects.postgresql import SqlViewFactory
from sqldbclient.dialects.postgresql import SqlViewMaterializer
from sqldbclient.dialects.postgresql import grant_access

from sqldbclient import set_full_display

set_full_display(max_rows=2000, max_columns=100) # now, we can call pd.DataFrame().full_display() method

2023-08-17 14:57:40 WARNING: sqlalchemy.__version__ = 2.0.0

## SqlExecutor

### Create a new instance for a Postgres database

In [6]:
pg_executor = SqlExecutor.builder.config(
    SqlExecutorConf().set('engine_options', 
         'postgresql+psycopg2://postgres:mysecretpassword@localhost:5555', # database connection string
         poolclass=sa.pool.QueuePool, # used by default in most cases
         pool_recycle=3600, # recycle connections after one hour
         pool_timeout=5, # time out after waiting for 5 seconds to connect
    ).set('history_db_name', 
         'sql_executor_history.db' # name of the SQLite database file that will be used
                                   # If the file exists, 
                                   # it will used by SqlHistoryManager to store and load query results.
                                   # Otherwise, SQLite database with the corresponding file name will be created.
    ).set('max_rows_read', 
         10_000 # default value to be used in LIMIT clause, that will be added to SELECT queries
    )
).get_or_create() # creates new instance of SqlExecutor with specified options, 
                  # or uses existing one in case it was created before

pg_executor._engine.pool.status()

'Pool size: 5  Connections in pool: 0 Current Overflow: -5 Current Checked out connections: 0'

### Create a new table using transaction context manager

In [7]:
with pg_executor:
    pg_executor.execute('''
        DROP TABLE IF EXISTS sales_statistics
    ''')
    pg_executor.execute('''
        CREATE TABLE sales_statistics AS
            SELECT '2023-01-01'::date AS date_day, 5332 AS sales_total
        UNION ALL
            SELECT '2023-02-01'::date AS date_day, 8676 AS sales_total
        UNION ALL
            SELECT '2023-03-01'::date AS date_day, 1345 AS sales_total
        UNION ALL
            SELECT '2023-04-01'::date AS date_day, 2609 AS sales_total
        UNION ALL
            SELECT '2023-05-01'::date AS date_day, 4416 AS sales_total
        UNION ALL
            SELECT '2023-06-01'::date AS date_day, 8172 AS sales_total
        UNION ALL
            SELECT '2023-07-01'::date AS date_day, 4261 AS sales_total
    ''')
    assert (pg_executor.execute('''
        SELECT *, pg_sleep(0.3) FROM sales_statistics
    ''').sales_total > 0).all()
    pg_executor.commit()

2023-08-17 14:57:41 WARNING: Starting transaction
2023-08-17 14:57:41 WARNING: Executed ExecutedSqlQuery(uuid='24709229c7714dc39e34447c0315b73e', query='DROP TABLE IF EXISTS sales_statistics', start_time='2023-08-17 14:57:41', finish_time='2023-08-17 14:57:41', duration='0:00:00', query_type='DROP')
2023-08-17 14:57:41 WARNING: Executed ExecutedSqlQuery(uuid='7ced7cfe0a38465b9d317696426e8aad', query='CREATE TABLE sales_statistics AS SELECT '2023-01-0 ... 2023-07-01'::date AS date_day, 4261 AS sales_total', start_time='2023-08-17 14:57:41', finish_time='2023-08-17 14:57:41', duration='0:00:00', query_type='CREATE')
2023-08-17 14:57:41 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:43 WARNING: Executed ExecutedSqlQuery(uuid='ba02fafbc5b641f5861cd7262caf2685', query='SELECT *, pg_sleep(0.3) FROM sales_statistics LIMIT 10000', start_time='2023-08-17 14:57:41', finish_time='2023-08-17 14:57:43', duration='0:00:02', query_type='SELECT')
2023-08-17 14:57:43 WARNING: Transaction committed
2023-08-17 14:57:43 WARNING: Exiting transaction, duration = 0:00:02

### Explore table content

In [8]:
pg_executor.execute('''
    SELECT *
    FROM sales_statistics
''')

2023-08-17 14:57:43 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:43 WARNING: Executed ExecutedSqlQuery(uuid='372602fd3aaf49028ce047da9adf8f34', query='SELECT * FROM sales_statistics LIMIT 10000', start_time='2023-08-17 14:57:43', finish_time='2023-08-17 14:57:43', duration='0:00:00', query_type='SELECT')

    date_day  sales_total
0 2023-01-01         5332
1 2023-02-01         8676
2 2023-03-01         1345
3 2023-04-01         2609
4 2023-05-01         4416
5 2023-06-01         8172
6 2023-07-01         4261

In [9]:
uuid = pg_executor.history.iloc[-1].uuid # it can also be seen from the logs in the cell above

In [10]:
## get query result via UUID and perform quartely aggregation
pg_executor[uuid].pipe(
    lambda df: df.groupby(df['date_day'].dt.to_period('Q'))['sales_total'].sum()
)

date_day
2023Q1    15353
2023Q2    15197
2023Q3     4261
Freq: Q-DEC, Name: sales_total, dtype: int64

In [11]:
## check out prepared query with the added LIMIT clause
print(pg_executor.get_exec_info(uuid).query)

SELECT *
FROM sales_statistics LIMIT 10000

### Examine history of SqlExecutor instance

In [12]:
pg_executor.history.tail(2)

,uuid,query,start_time,finish_time,duration,query_type,query_shortened
1405,ba02fafbc5b641f5861cd7262caf2685,"SELECT *,\n pg_sleep(0.3)\nFROM sales_st...",2023-08-17 14:57:41.494538,2023-08-17 14:57:43.644807,0 days 00:00:02,SELECT,"SELECT *, pg_sleep(0.3) FROM sales_statistics ..."
1406,372602fd3aaf49028ce047da9adf8f34,SELECT *\nFROM sales_statistics LIMIT 10000,2023-08-17 14:57:43.688595,2023-08-17 14:57:43.696270,0 days 00:00:00,SELECT,SELECT * FROM sales_statistics LIMIT 10000

In [13]:
# free space by deleting result for specific query
pg_executor.delete_results(with_uuids=[uuid])

In [14]:
# remove result from cache and try to load it from disk
try:
    pg_executor.get_result(uuid, reload=True)
except ValueError as e:
    logging.error(e)

2023-08-17 14:57:43 ERROR: No result found for uuid = 372602fd3aaf49028ce047da9adf8f34

## DbInspector

### Inspect SqlExecutor history database

In [15]:
# create engine for SQLite database
sqlite_engine = sql_engine_factory.get_or_create('sqlite:///sql_executor_history.db')
sqlite_engine.pool

In [16]:
# create instance of DbInspector and show avataible tables
sqlite_inspector = inspect(sqlite_engine)
sqlite_inspector.get_table_names()

['executed_sql_query', 'executed_sql_query_result']

In [17]:
# print text representation of table structure
sqlite_inspector.print_columns('executed_sql_query')

"executed_sql_query"
 |-- uuid: VARCHAR (nullable=False, default=None, primary_key=1)
 |-- query: VARCHAR (nullable=True, default=None, primary_key=0)
 |-- start_time: DATETIME (nullable=True, default=None, primary_key=0)
 |-- finish_time: DATETIME (nullable=True, default=None, primary_key=0)
 |-- duration: DATETIME (nullable=True, default=None, primary_key=0)
 |-- query_type: VARCHAR (nullable=True, default=None, primary_key=0)
 |-- query_shortened: VARCHAR (nullable=True, default=None, primary_key=0)

In [18]:
# get all avaiable views and materialized views if applicable
sqlite_inspector.get_views()

[]

## Async tools (only for sqlalchemy version >= 1.4)

In [19]:
try:
    from sqldbclient.sql_asyncio import SqlAsyncExecutor, SqlAsyncPlanner
    from sqlalchemy.ext.asyncio import create_async_engine
except ImportError as e:
    logger.error(e)

In [20]:
if sa.__version__ >= '1.4':
    asyncpg_engine = create_async_engine('postgresql+asyncpg://postgres:mysecretpassword@localhost:5555')
    asyncpg_engine.pool.status()

In [21]:
if sa.__version__ >= '1.4':
    sql_async_executor = SqlAsyncExecutor(asyncpg_engine)
    (await sql_async_executor.execute("SELECT 1 AS a")).full_display()

   a
0  1

In [22]:
if sa.__version__ >= '1.4':
    sql_async_planner = SqlAsyncPlanner(asyncpg_engine)

In [23]:
if sa.__version__ >= '1.4':
    start = time.time()

    sql_async_planner.put('SELECT pg_sleep(2)')
    sql_async_planner.put('SELECT pg_sleep(2)')
    sql_async_planner.put('SELECT pg_sleep(2)')
    await sql_async_planner.get()
    await sql_async_planner.get()
    await sql_async_planner.get()

    logger.info(f'Elapsed time: {time.time() - start} seconds')

2023-08-17 14:57:46 INFO: Elapsed time: 2.0932321548461914 seconds

## PostgreSQL dialect

### SqlViewFactory and SqlViewMaterializer

In [24]:
pg_inspector = inspect(pg_executor._engine)

with pg_executor:
    if 'vm_sales' in pg_inspector.get_views(): 
        pg_executor.execute('DROP MATERIALIZED VIEW vm_sales CASCADE')
    
    pg_executor.execute('''
        CREATE MATERIALIZED VIEW vm_sales AS
            SELECT '2023-01-01'::date AS date_day, 5332 AS sales_total
        UNION ALL
            SELECT '2023-02-01'::date AS date_day, 8676 AS sales_total
        UNION ALL
            SELECT '2023-03-01'::date AS date_day, 1345 AS sales_total
        UNION ALL
            SELECT '2023-04-01'::date AS date_day, 2609 AS sales_total
    ''')
    pg_executor.execute('''
        CREATE VIEW v_sales_first_quarter AS
        SELECT * FROM vm_sales
        WHERE date_trunc('quarter', date_day)::date = '2023-01-01'
    ''')
    pg_executor.execute('''
        SELECT * FROM v_sales_first_quarter
    ''').full_display()
    
    pg_executor.commit()

2023-08-17 14:57:46 WARNING: Starting transaction
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='912c339bf4e64a7295889a4af6cabe48', query='DROP MATERIALIZED VIEW vm_sales CASCADE', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='DROP')
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='070dd946af0541bda60e7a687a59720a', query='CREATE MATERIALIZED VIEW vm_sales AS SELECT '2023- ... 2023-04-01'::date AS date_day, 2609 AS sales_total', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='CREATE')
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='fdd4c3935dda4992bd620989ee353a03', query='CREATE VIEW v_sales_first_quarter AS SELECT * FROM ... te_trunc('quarter', date_day)::date = '2023-01-01'', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='CREATE')
2023-08-17 14:57:46 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='ad2c67e443ba47cfb29e326af7f06e8d', query='SELECT * FROM v_sales_first_quarter LIMIT 10000', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='SELECT')

    date_day  sales_total
0 2023-01-01         5332
1 2023-02-01         8676
2 2023-03-01         1345

2023-08-17 14:57:46 WARNING: Transaction committed
2023-08-17 14:57:46 WARNING: Exiting transaction, duration = 0:00:00

In [25]:
vm_sales = SqlViewFactory('vm_sales', 'public', pg_executor).create()
vm_sales

2023-08-17 14:57:46 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='a4f20eda36614dd78c19d4190e51b4a6', query='SELECT * FROM pg_views WHERE viewname = 'vm_sales' AND schemaname = 'public' LIMIT 10000', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:46 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='ecc340d991e74f9eb8b6ba278b1a6b3d', query='SELECT * FROM pg_matviews WHERE matviewname = 'vm_sales' AND schemaname = 'public' LIMIT 10000', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:46 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='8ebe0288027142859a84cfd3d64ef74f', query='SELECT coalesce(nullif(s[1], ''), 'public') grante ... name = 'public' AND relname='vm_sales' LIMIT 10000', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:46 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='b29e23e3ca6d491eb771845140521e63', query='SELECT DISTINCT dependent_ns.nspname AS dependent_ ...  pg_attribute.attnum > 0 ORDER BY 1, 2 LIMIT 10000', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:46 INFO: Found 1 dependant objects for "public"."vm_sales"
2023-08-17 14:57:46 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='d21a8090a648475db93ccae3da0d1fbd', query='SELECT DISTINCT dependent_ns.nspname AS dependent_ ...  pg_attribute.attnum > 0 ORDER BY 1, 2 LIMIT 10000', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:46 INFO: Found 0 dependant objects for "public"."v_sales_first_quarter"
2023-08-17 14:57:46 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='6e6648b5d9774665abf379637ddd9d6c', query='SELECT * FROM pg_views WHERE viewname = 'v_sales_f ... rst_quarter' AND schemaname = 'public' LIMIT 10000', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:46 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='d192273319fa40fca6a310bf9a0efa73', query='SELECT * FROM pg_matviews WHERE matviewname = 'v_s ... rst_quarter' AND schemaname = 'public' LIMIT 10000', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:46 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='2f930625605e4258acf7687df9ab0def', query='SELECT coalesce(nullif(s[1], ''), 'public') grante ... c' AND relname='v_sales_first_quarter' LIMIT 10000', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:46 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='e3819ee84e47455b83ee193a501c1df9', query='SELECT DISTINCT dependent_ns.nspname AS dependent_ ...  pg_attribute.attnum > 0 ORDER BY 1, 2 LIMIT 10000', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:46 INFO: Found 0 dependant objects for "public"."v_sales_first_quarter"
2023-08-17 14:57:46 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='a4f9928f21d945a98f493a815f1377b8', query='SELECT * FROM pg_views WHERE viewname = 'nan' AND schemaname = 'nan' LIMIT 10000', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:46 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='1b2a501c0c104e80ba14393d38415dfe', query='SELECT * FROM pg_matviews WHERE matviewname = 'nan' AND schemaname = 'nan' LIMIT 10000', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:46 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='e7c4ad34338f417395a14d6952d1ec91', query='SELECT schemaname AS SCHEMA, indexname AS name, in ... rst_quarter' AND schemaname = 'public' LIMIT 10000', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:46 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='e96207315b22470190c08546880c50cb', query='SELECT schemaname AS SCHEMA, indexname AS name, in ... = 'vm_sales' AND schemaname = 'public' LIMIT 10000', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='SELECT')

View(schema='public', name='vm_sales', full_name='"public"."vm_sales"', view_type=<ViewType.MATERIALIZED_VIEW: 'vm'>, owner='postgres', dependant_objects_number=1, indexes_number=0)

In [26]:
pd.DataFrame([vm_sales] + vm_sales.dependant_objects).full_display(width=True)

,schema,name,full_name,view_type,owner,definition,privileges,dependant_objects,dependant_objects_number,indexes,indexes_number
0,public,vm_sales,"""public"".""vm_sales""",ViewType.MATERIALIZED_VIEW,postgres,"SELECT '2023-01-01'::date AS date_day,\n 5332 AS sales_total\nUNION ALL\n SELECT '2023-02-01'::date AS date_day,\n 8676 AS sales_total\nUNION ALL\n SELECT '2023-03-01'::date AS date_day,\n 1345 AS sales_total\nUNION ALL\n SELECT '2023-04-01'::date AS date_day,\n 2609 AS sales_total;","{'postgres': ['DELETE', 'INSERT', 'REFERENCES', 'SELECT', 'TRIGGER', 'TRUNCATE', 'UPDATE']}","[{'schema': 'public', 'name': 'v_sales_first_quarter', 'full_name': '""public"".""v_sales_first_quarter""', 'view_type': ViewType.REGULAR_VIEW, 'owner': 'postgres', 'definition': ' SELECT vm_sales.date_day, vm_sales.sales_total FROM vm_sales WHERE ((date_trunc('quarter'::text, (vm_sales.date_day)::timestamp with time zone))::date = '2023-01-01'::date);', 'privileges': {'postgres': ['DELETE', 'INSERT', 'REFERENCES', 'SELECT', 'TRIGGER', 'TRUNCATE', 'UPDATE']}, 'dependant_objects': [], 'd...",1,[],0
1,public,v_sales_first_quarter,"""public"".""v_sales_first_quarter""",ViewType.REGULAR_VIEW,postgres,"SELECT vm_sales.date_day,\n vm_sales.sales_total\n FROM vm_sales\n WHERE ((date_trunc('quarter'::text, (vm_sales.date_day)::timestamp with time zone))::date = '2023-01-01'::date);","{'postgres': ['DELETE', 'INSERT', 'REFERENCES', 'SELECT', 'TRIGGER', 'TRUNCATE', 'UPDATE']}",[],0,[],0

In [27]:
print(vm_sales.definition)

vm_sales.definition = '''
        SELECT '2023-02-01'::date AS date_day, 8676 AS sales_total
    UNION ALL
        SELECT '2023-03-01'::date AS date_day, 1345 AS sales_total
    UNION ALL
        SELECT '2023-04-01'::date AS date_day, 2609 AS sales_total
'''

 SELECT '2023-01-01'::date AS date_day,
    5332 AS sales_total
UNION ALL
 SELECT '2023-02-01'::date AS date_day,
    8676 AS sales_total
UNION ALL
 SELECT '2023-03-01'::date AS date_day,
    1345 AS sales_total
UNION ALL
 SELECT '2023-04-01'::date AS date_day,
    2609 AS sales_total;

In [28]:
SqlViewMaterializer(vm_sales, pg_executor).materialize()

2023-08-17 14:57:46 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='9e15b91774794c9589152a5b8b15ebf1', query='SELECT * FROM pg_views WHERE viewname = 'vm_sales' AND schemaname = 'public' LIMIT 10000', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:46 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='f5257ab6199f48508470d963a05652a8', query='SELECT * FROM pg_matviews WHERE matviewname = 'vm_sales' AND schemaname = 'public' LIMIT 10000', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:46 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='f2ceb04ac63548e189978ac40c7a78fb', query='SELECT coalesce(nullif(s[1], ''), 'public') grante ... name = 'public' AND relname='vm_sales' LIMIT 10000', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:46 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='132c0a41aac14aeaac0ee62eab471d96', query='SELECT DISTINCT dependent_ns.nspname AS dependent_ ...  pg_attribute.attnum > 0 ORDER BY 1, 2 LIMIT 10000', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:46 INFO: Found 1 dependant objects for "public"."vm_sales"
2023-08-17 14:57:46 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='07be07bd5f3b4e6fb20fd5f289c3f1b2', query='SELECT DISTINCT dependent_ns.nspname AS dependent_ ...  pg_attribute.attnum > 0 ORDER BY 1, 2 LIMIT 10000', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:46 INFO: Found 0 dependant objects for "public"."v_sales_first_quarter"
2023-08-17 14:57:46 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='35ea77cb7f614acea2120bf170c33871', query='SELECT * FROM pg_views WHERE viewname = 'v_sales_f ... rst_quarter' AND schemaname = 'public' LIMIT 10000', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:46 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='62f335eca1b843a2918c7c9f6e07d1d0', query='SELECT * FROM pg_matviews WHERE matviewname = 'v_s ... rst_quarter' AND schemaname = 'public' LIMIT 10000', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:46 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='4cdbfab164704bad8ca51cdd91b45717', query='SELECT coalesce(nullif(s[1], ''), 'public') grante ... c' AND relname='v_sales_first_quarter' LIMIT 10000', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:46 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:46 WARNING: Executed ExecutedSqlQuery(uuid='0a11c6d8de6d4ab3aeb17ee9e420e208', query='SELECT DISTINCT dependent_ns.nspname AS dependent_ ...  pg_attribute.attnum > 0 ORDER BY 1, 2 LIMIT 10000', start_time='2023-08-17 14:57:46', finish_time='2023-08-17 14:57:46', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:46 INFO: Found 0 dependant objects for "public"."v_sales_first_quarter"
2023-08-17 14:57:46 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='9c7b82bdf2c3477b8770593b31c6ccf4', query='SELECT * FROM pg_views WHERE viewname = 'nan' AND schemaname = 'nan' LIMIT 10000', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:47 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='30d9135feeb648ce80d417ccb17ec648', query='SELECT * FROM pg_matviews WHERE matviewname = 'nan' AND schemaname = 'nan' LIMIT 10000', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:47 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='421bf00c452a4689b7ea5abd8bd59db7', query='SELECT schemaname AS SCHEMA, indexname AS name, in ... rst_quarter' AND schemaname = 'public' LIMIT 10000', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:47 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='ea41112788b14b8eaa5496e3dde95ed4', query='SELECT schemaname AS SCHEMA, indexname AS name, in ... = 'vm_sales' AND schemaname = 'public' LIMIT 10000', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='SELECT')
2023-08-17 14:57:47 INFO: Found different value for field: definition
2023-08-17 14:57:47 WARNING: To change definition view "public"."vm_sales" will be fully recreated
2023-08-17 14:57:47 WARNING: Starting transaction
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='01b56f633f4e4d75a7142a8fbf4b221d', query='DROP VIEW "public"."v_sales_first_quarter"', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='DROP')
2023-08-17 14:57:47 INFO: View "public"."v_sales_first_quarter" dropped
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='2d6e52eebc2c4b2aa55c9e83e55a9a46', query='DROP MATERIALIZED VIEW "public"."vm_sales"', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='DROP')
2023-08-17 14:57:47 INFO: View "public"."vm_sales" dropped
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='65050050176b4ac7ad489cbc3c41cc96', query='CREATE MATERIALIZED VIEW "public"."vm_sales" AS SE ... date AS date_day, 2609 AS sales_total WITH NO DATA', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='CREATE')
2023-08-17 14:57:47 INFO: Created "public"."vm_sales"
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='b28bc9afd2534995820904826b687fe8', query='ALTER MATERIALIZED VIEW "public"."vm_sales" OWNER TO postgres', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='ALTER')
2023-08-17 14:57:47 INFO: View "public"."vm_sales" owner set to postgres
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='9eeed8e9f0264e40a4068768afa07da8', query='GRANT DELETE ON "public"."vm_sales" TO postgres', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='UNKNOWN')
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='32fa0c8394a44b788710e3f8e675b6db', query='GRANT INSERT ON "public"."vm_sales" TO postgres', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='UNKNOWN')
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='cef8e4d3bb4241b68302137712e704e3', query='GRANT REFERENCES ON "public"."vm_sales" TO postgres', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='UNKNOWN')
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='e7c4bb1164524be1b478964b304beabd', query='GRANT SELECT ON "public"."vm_sales" TO postgres', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='UNKNOWN')
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='c39ff71616c94eb79fdaa96e189b4076', query='GRANT TRIGGER ON "public"."vm_sales" TO postgres', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='UNKNOWN')
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='23189b0dd5ec4f8ba48cbc98b956344c', query='GRANT TRUNCATE ON "public"."vm_sales" TO postgres', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='UNKNOWN')

2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='019537325ba741d99f2e723d88e66c84', query='GRANT UPDATE ON "public"."vm_sales" TO postgres', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='UNKNOWN')
2023-08-17 14:57:47 INFO: View "public"."vm_sales" privileges set
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='1c2aa650b42d4ef38b298ac702c7b5ce', query='CREATE VIEW "public"."v_sales_first_quarter" AS SE ... stamp WITH TIME ZONE))::date = '2023-01-01'::date)', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='CREATE')
2023-08-17 14:57:47 INFO: Created "public"."v_sales_first_quarter"
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='9cda8bbfc2ad4909a10281c12fcfb050', query='ALTER VIEW "public"."v_sales_first_quarter" OWNER TO postgres', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='ALTER')
2023-08-17 14:57:47 INFO: View "public"."v_sales_first_quarter" owner set to postgres
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='225bd1c360d14ebc87397909e40df0d2', query='GRANT DELETE ON "public"."v_sales_first_quarter" TO postgres', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='UNKNOWN')
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='48c15bbe846944ca998f736fe78524a6', query='GRANT INSERT ON "public"."v_sales_first_quarter" TO postgres', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='UNKNOWN')
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='d7298910b39e49839ec0b9ad32ca3f53', query='GRANT REFERENCES ON "public"."v_sales_first_quarter" TO postgres', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='UNKNOWN')
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='b25e7d753eae4d5ba8f35b1386717a63', query='GRANT SELECT ON "public"."v_sales_first_quarter" TO postgres', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='UNKNOWN')
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='c695abfb70d141f9a7be041c0e123366', query='GRANT TRIGGER ON "public"."v_sales_first_quarter" TO postgres', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='UNKNOWN')
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='9376f74abe3c40cd95d10b23c675ca82', query='GRANT TRUNCATE ON "public"."v_sales_first_quarter" TO postgres', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='UNKNOWN')
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='f036c70e9d9543dbae3b41a1ed35506b', query='GRANT UPDATE ON "public"."v_sales_first_quarter" TO postgres', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='UNKNOWN')
2023-08-17 14:57:47 INFO: View "public"."v_sales_first_quarter" privileges set
2023-08-17 14:57:47 INFO: Refreshing "public"."vm_sales"...
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='007fac6c10f842fbb516ba20dffb9ed4', query='REFRESH MATERIALIZED VIEW "public"."vm_sales"', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='UNKNOWN')
2023-08-17 14:57:47 INFO: Refreshed "public"."vm_sales"
2023-08-17 14:57:47 INFO: Refreshing "public"."v_sales_first_quarter"...
2023-08-17 14:57:47 INFO: Skipping regular view "public"."v_sales_first_quarter"
2023-08-17 14:57:47 INFO: Refreshed "public"."v_sales_first_quarter"
2023-08-17 14:57:47 INFO: Creating indexes for "public"."vm_sales"...
2023-08-17 14:57:47 INFO: Created indexes for "public"."vm_sales"
2023-08-17 14:57:47 INFO: Creating indexes for "public"."v_sales_first_quarter"...
2023-08-17 14:57:47 INFO: Created indexes for "public"."v_sales_first_quarter"
2023-08-17 14:57:47 WARNING: Transaction committed
2023-08-17 14:57:47 WARNING: Exiting transaction, duration = 0:00:00
2023-08-17 14:57:47 INFO: View <sqldbclient.dialects.postgresql.sql_view_materializer.sql_view_materializer.SqlViewMaterializer object at 0x11de694c0> recreated
2023-08-17 14:57:47 INFO: Field definition set to
        SELECT '2023-02-01'::date AS date_day, 8676 AS sales_total
    UNION ALL
        SELECT '2023-03-01'::date AS date_day, 1345 AS sales_total
    UNION ALL
        SELECT '2023-04-01'::date AS date_day, 2609 AS sales_total

In [29]:
pg_executor.execute('''
    SELECT * FROM v_sales_first_quarter
''')

2023-08-17 14:57:47 WARNING: SELECT query will be limited to 10000
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='709a9033e4204b61811607df8f3645f8', query='SELECT * FROM v_sales_first_quarter LIMIT 10000', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='SELECT')

    date_day  sales_total
0 2023-02-01         8676
1 2023-03-01         1345

### Utils

In [30]:
grant_access(
    object_name='sales_statistics', 
    object_schema='public', 
    user_name='postgres',
    sql_executor=pg_executor,
    privilege='SELECT',
)

2023-08-17 14:57:47 WARNING: Starting transaction
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='c0a0c9197f254455859581a04109355a', query='GRANT USAGE ON SCHEMA "public" TO "postgres"', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='UNKNOWN')
2023-08-17 14:57:47 WARNING: Executed ExecutedSqlQuery(uuid='e2340c1b843e43cd9cea6747d7ab851e', query='GRANT SELECT ON "public"."sales_statistics" TO "postgres"', start_time='2023-08-17 14:57:47', finish_time='2023-08-17 14:57:47', duration='0:00:00', query_type='UNKNOWN')
2023-08-17 14:57:47 WARNING: Transaction committed
2023-08-17 14:57:47 WARNING: Exiting transaction, duration = 0:00:00