## Configure logging

In [1]:
import pathlib
import logging
import ipynbname

notebook_name = ipynbname.name()
log_file_path = pathlib.Path(notebook_name).with_suffix('.log')

logging.basicConfig(
    format='%(asctime)s %(levelname)s: %(message)s', 
    level=logging.INFO, 
    datefmt="%Y-%m-%d %H:%M:%S",
    handlers=[
        logging.FileHandler(log_file_path), 
        logging.StreamHandler()
    ]
)
logger = logging.getLogger()
logger.info(f"Custom logger for '{notebook_name}' notebook created")

2024-04-02 13:58:31 INFO: Custom logger for 'Usage' notebook created

## Import packages

### Tested on different versions of sqlalchemy, including legacy ones

In [2]:
# pip install sqlalchemy==1.3.0

In [3]:
# pip install sqlalchemy==1.4.0

In [4]:
# pip install sqlalchemy==2.0.0

In [5]:
import time

import pandas as pd
import sqlalchemy as sa

logger.warning(f'sqlalchemy.__version__ = {sa.__version__}')

import sqldbclient

from sqldbclient import SqlExecutor, SqlExecutorConf

from sqldbclient import sql_engine_factory

from sqldbclient.db_inspector import inspect

from sqldbclient.dialects.postgresql import SqlViewFactory
from sqldbclient.dialects.postgresql import SqlViewMaterializer
from sqldbclient.dialects.postgresql import grant_access

from sqldbclient import set_full_display

set_full_display(max_rows=2000, max_columns=100) # now, we can call pd.DataFrame().full_display() method

2024-04-02 13:58:32 WARNING: sqlalchemy.__version__ = 1.4.0

## SqlExecutor

### Create a new instance for a Postgres database

In [6]:
pg_executor = SqlExecutor.builder.config(
    SqlExecutorConf().set('engine_options', 
         'postgresql+psycopg2://postgres:mysecretpassword@localhost:5555', # database connection string
         poolclass=sa.pool.QueuePool, # used by default in most cases
         pool_recycle=3600, # recycle connections after one hour
         pool_timeout=5, # time out after waiting for 5 seconds to connect
    ).set('history_db_name', 
         'sql_executor_history.db' # name of the SQLite database file that will be used
                                   # If the file exists, 
                                   # it will used by SqlHistoryManager to store and load query results.
                                   # Otherwise, SQLite database with the corresponding file name will be created.
    ).set('max_rows_read', 
         10_000 # default value to be used in LIMIT clause, that will be added to SELECT queries
    )
).get_or_create() # creates new instance of SqlExecutor with specified options, 
                  # or uses existing one in case it was created before

pg_executor._engine.pool.status()

'Pool size: 5  Connections in pool: 0 Current Overflow: -5 Current Checked out connections: 0'

### Create a new table using transaction context manager

In [7]:
with pg_executor:
    pg_executor.execute('''
        DROP TABLE IF EXISTS sales_statistics
    ''')
    pg_executor.execute('''
        CREATE TABLE sales_statistics AS
            SELECT '2023-01-01'::date AS date_day, 5332 AS sales_total
        UNION ALL
            SELECT '2023-02-01'::date AS date_day, 8676 AS sales_total
        UNION ALL
            SELECT '2023-03-01'::date AS date_day, 1345 AS sales_total
        UNION ALL
            SELECT '2023-04-01'::date AS date_day, 2609 AS sales_total
        UNION ALL
            SELECT '2023-05-01'::date AS date_day, 4416 AS sales_total
        UNION ALL
            SELECT '2023-06-01'::date AS date_day, 8172 AS sales_total
        UNION ALL
            SELECT '2023-07-01'::date AS date_day, 4261 AS sales_total
    ''')
    assert (pg_executor.execute('''
        SELECT *, pg_sleep(0.3) FROM sales_statistics
    ''').sales_total > 0).all()
    pg_executor.commit()

2024-04-02 13:58:32 WARNING: Starting transaction
2024-04-02 13:58:32 WARNING: Executed ExecutedSqlQuery(uuid='408a8d0d8583468ea9998ad5ab36566c', query='DROP TABLE IF EXISTS sales_statistics', start_time='2024-04-02 13:58:32', finish_time='2024-04-02 13:58:32', duration='0:00:00', query_type='DROP')
2024-04-02 13:58:32 WARNING: Executed ExecutedSqlQuery(uuid='14edb70017f148919158e437e424fab4', query='CREATE TABLE sales_statistics AS SELECT '2023-01-0 ... 2023-07-01'::date AS date_day, 4261 AS sales_total', start_time='2024-04-02 13:58:32', finish_time='2024-04-02 13:58:32', duration='0:00:00', query_type='CREATE')
2024-04-02 13:58:32 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:34 WARNING: Executed ExecutedSqlQuery(uuid='0d3cd4b4852b4acc9297dc2af3a1459e', query='SELECT *, pg_sleep(0.3) FROM sales_statistics LIMIT 10000', start_time='2024-04-02 13:58:32', finish_time='2024-04-02 13:58:34', duration='0:00:02', query_type='SELECT')
2024-04-02 13:58:34 WARNING: Transaction committed
2024-04-02 13:58:34 WARNING: Exiting transaction, duration = 0:00:02

### Explore table content

In [8]:
pg_executor.execute('''
    SELECT *
    FROM sales_statistics
''')

2024-04-02 13:58:34 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:34 WARNING: Executed ExecutedSqlQuery(uuid='0d71a7bff42a4de798eb949ffcc152b6', query='SELECT * FROM sales_statistics LIMIT 10000', start_time='2024-04-02 13:58:34', finish_time='2024-04-02 13:58:34', duration='0:00:00', query_type='SELECT')

    date_day  sales_total
0 2023-01-01         5332
1 2023-02-01         8676
2 2023-03-01         1345
3 2023-04-01         2609
4 2023-05-01         4416
5 2023-06-01         8172
6 2023-07-01         4261

In [9]:
uuid = pg_executor.history.iloc[-1].uuid # it can also be seen from the logs in the cell above

In [10]:
## get query result via UUID and perform quartely aggregation
pg_executor[uuid].pipe(
    lambda df: df.groupby(df['date_day'].dt.to_period('Q'))['sales_total'].sum()
)

date_day
2023Q1    15353
2023Q2    15197
2023Q3     4261
Freq: Q-DEC, Name: sales_total, dtype: int64

In [11]:
## check out prepared query with the added LIMIT clause
print(pg_executor.get_exec_info(uuid).query)

SELECT *
FROM sales_statistics LIMIT 10000

### Examine history of SqlExecutor instance

In [12]:
pg_executor.history.tail(2)

,uuid,query,start_time,finish_time,duration,query_type,query_shortened
4065,0d3cd4b4852b4acc9297dc2af3a1459e,"SELECT *,\n pg_sleep(0.3)\nFROM sales_st...",2024-04-02 13:58:32.602938,2024-04-02 13:58:34.739675,0 days 00:00:02,SELECT,"SELECT *, pg_sleep(0.3) FROM sales_statistics ..."
4066,0d71a7bff42a4de798eb949ffcc152b6,SELECT *\nFROM sales_statistics LIMIT 10000,2024-04-02 13:58:34.778459,2024-04-02 13:58:34.786600,0 days 00:00:00,SELECT,SELECT * FROM sales_statistics LIMIT 10000

In [13]:
# free space by deleting result for specific query
pg_executor.delete_results(with_uuids=[uuid])

In [14]:
# remove result from cache and try to load it from disk
try:
    pg_executor.get_result(uuid, reload=True)
except ValueError as e:
    logging.error(e)

2024-04-02 13:58:35 ERROR: No result found for uuid = 0d71a7bff42a4de798eb949ffcc152b6

## DbInspector

### Inspect SqlExecutor history database

In [15]:
# create engine for SQLite database
sqlite_engine = sql_engine_factory.get_or_create('sqlite:///sql_executor_history.db')
sqlite_engine.pool

In [16]:
# create instance of DbInspector and show avataible tables
sqlite_inspector = inspect(sqlite_engine)
sqlite_inspector.get_table_names()

['executed_sql_query', 'executed_sql_query_result']

In [17]:
# print text representation of table structure
sqlite_inspector.print_columns('executed_sql_query')

"executed_sql_query"
 |-- uuid: VARCHAR (nullable=False, default=None, autoincrement=auto, primary_key=1)
 |-- query: VARCHAR (nullable=True, default=None, autoincrement=auto, primary_key=0)
 |-- start_time: DATETIME (nullable=True, default=None, autoincrement=auto, primary_key=0)
 |-- finish_time: DATETIME (nullable=True, default=None, autoincrement=auto, primary_key=0)
 |-- duration: DATETIME (nullable=True, default=None, autoincrement=auto, primary_key=0)
 |-- query_type: VARCHAR (nullable=True, default=None, autoincrement=auto, primary_key=0)
 |-- query_shortened: VARCHAR (nullable=True, default=None, autoincrement=auto, primary_key=0)

In [18]:
# get all avaiable views and materialized views if applicable
sqlite_inspector.get_views()

[]

## Async tools (only for sqlalchemy version >= 1.4)

In [19]:
try:
    from sqldbclient.sql_asyncio import SqlAsyncExecutor, SqlAsyncPlanner
    from sqlalchemy.ext.asyncio import create_async_engine
except ImportError as e:
    logger.error(e)

In [20]:
if sa.__version__ >= '1.4':
    asyncpg_engine = create_async_engine('postgresql+asyncpg://postgres:mysecretpassword@localhost:5555')
    asyncpg_engine.pool.status()

In [21]:
if sa.__version__ >= '1.4':
    sql_async_executor = SqlAsyncExecutor(asyncpg_engine)
    (await sql_async_executor.execute("SELECT 1 AS a")).full_display()

   a
0  1

In [22]:
if sa.__version__ >= '1.4':
    sql_async_planner = SqlAsyncPlanner(asyncpg_engine)

In [23]:
if sa.__version__ >= '1.4':
    start = time.time()

    sql_async_planner.put('SELECT pg_sleep(2)')
    sql_async_planner.put('SELECT pg_sleep(2)')
    sql_async_planner.put('SELECT pg_sleep(2)')
    await sql_async_planner.get()
    await sql_async_planner.get()
    await sql_async_planner.get()

    logger.info(f'Elapsed time: {time.time() - start} seconds')

2024-04-02 13:58:37 INFO: Elapsed time: 2.0907039642333984 seconds

## PostgreSQL dialect

### SqlViewFactory and SqlViewMaterializer

In [24]:
pg_inspector = inspect(pg_executor._engine)

with pg_executor:
    if 'vm_sales' in pg_inspector.get_views(): 
        pg_executor.execute('DROP MATERIALIZED VIEW vm_sales CASCADE')
    
    pg_executor.execute('''
        CREATE MATERIALIZED VIEW vm_sales AS
            SELECT '2023-01-01'::date AS date_day, 5332 AS sales_total
        UNION ALL
            SELECT '2023-02-01'::date AS date_day, 8676 AS sales_total
        UNION ALL
            SELECT '2023-03-01'::date AS date_day, 1345 AS sales_total
        UNION ALL
            SELECT '2023-04-01'::date AS date_day, 2609 AS sales_total
    ''')
    pg_executor.execute('''
        COMMENT ON COLUMN vm_sales.date_day IS 'date day'
    ''')
    pg_executor.execute('''
        COMMENT ON COLUMN vm_sales.sales_total IS 'sales total'
    ''')
    pg_executor.execute('''
        SELECT * FROM vm_sales
    ''').full_display()
    
    pg_executor.execute('''
        CREATE VIEW v_sales_first_quarter AS
        SELECT * FROM vm_sales
        WHERE date_trunc('quarter', date_day)::date = '2023-01-01'
    ''')
    pg_executor.execute('''
        COMMENT ON VIEW v_sales_first_quarter IS 'sales first quarter view'
    ''')
    pg_executor.execute('''
        COMMENT ON COLUMN v_sales_first_quarter.sales_total IS 'sales total'
    ''')
    pg_executor.execute('''
        SELECT * FROM v_sales_first_quarter
    ''').full_display()
    
    pg_executor.execute('''
        CREATE VIEW v_sales_first_month AS
        SELECT * FROM v_sales_first_quarter
        WHERE date_trunc('month', date_day)::date = '2023-01-01'
    ''')
    pg_executor.execute('''
        COMMENT ON VIEW v_sales_first_month IS 'sales first month view'
    ''')
    pg_executor.execute('''
        SELECT * FROM v_sales_first_month
    ''').full_display()
    
    pg_executor.commit()

2024-04-02 13:58:37 WARNING: Starting transaction
2024-04-02 13:58:37 WARNING: Executed ExecutedSqlQuery(uuid='3c635d24e84a4cd7be1755368031aeca', query='DROP MATERIALIZED VIEW vm_sales CASCADE', start_time='2024-04-02 13:58:37', finish_time='2024-04-02 13:58:37', duration='0:00:00', query_type='DROP')
2024-04-02 13:58:37 WARNING: Executed ExecutedSqlQuery(uuid='d333f45c82af4753a15109defcc8e5d4', query='CREATE MATERIALIZED VIEW vm_sales AS SELECT '2023- ... 2023-04-01'::date AS date_day, 2609 AS sales_total', start_time='2024-04-02 13:58:37', finish_time='2024-04-02 13:58:37', duration='0:00:00', query_type='CREATE')
2024-04-02 13:58:37 WARNING: Executed ExecutedSqlQuery(uuid='6d2f1c905b3e4a39a13ee6c8528c56c9', query='COMMENT ON COLUMN vm_sales.date_day IS 'date day'', start_time='2024-04-02 13:58:37', finish_time='2024-04-02 13:58:37', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:37 WARNING: Executed ExecutedSqlQuery(uuid='bb8cbb64e9ab4c2fa220f31af5ea0a27', query='COMMENT ON COLUMN vm_sales.sales_total IS 'sales total'', start_time='2024-04-02 13:58:37', finish_time='2024-04-02 13:58:37', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:37 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:37 WARNING: Executed ExecutedSqlQuery(uuid='f971debf77b64227a85e2504b7402e03', query='SELECT * FROM vm_sales LIMIT 10000', start_time='2024-04-02 13:58:37', finish_time='2024-04-02 13:58:37', duration='0:00:00', query_type='SELECT')

    date_day  sales_total
0 2023-01-01         5332
1 2023-02-01         8676
2 2023-03-01         1345
3 2023-04-01         2609

2024-04-02 13:58:37 WARNING: Executed ExecutedSqlQuery(uuid='911acf7f9f2c4ab79f2440c30cf50356', query='CREATE VIEW v_sales_first_quarter AS SELECT * FROM ... te_trunc('quarter', date_day)::date = '2023-01-01'', start_time='2024-04-02 13:58:37', finish_time='2024-04-02 13:58:37', duration='0:00:00', query_type='CREATE')
2024-04-02 13:58:37 WARNING: Executed ExecutedSqlQuery(uuid='9437f222987b4aa1b259a4d80f4c0ec1', query='COMMENT ON VIEW v_sales_first_quarter IS 'sales first quarter view'', start_time='2024-04-02 13:58:37', finish_time='2024-04-02 13:58:37', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:37 WARNING: Executed ExecutedSqlQuery(uuid='a30b3f976aeb472eb02a35deba1e23ac', query='COMMENT ON COLUMN v_sales_first_quarter.sales_total IS 'sales total'', start_time='2024-04-02 13:58:37', finish_time='2024-04-02 13:58:37', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:37 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:37 WARNING: Executed ExecutedSqlQuery(uuid='85a327ab0a184f059a56910f3012a3db', query='SELECT * FROM v_sales_first_quarter LIMIT 10000', start_time='2024-04-02 13:58:37', finish_time='2024-04-02 13:58:37', duration='0:00:00', query_type='SELECT')

    date_day  sales_total
0 2023-01-01         5332
1 2023-02-01         8676
2 2023-03-01         1345

2024-04-02 13:58:37 WARNING: Executed ExecutedSqlQuery(uuid='345d0a5501664592bbd7cf28bc118761', query='CREATE VIEW v_sales_first_month AS SELECT * FROM v ... date_trunc('month', date_day)::date = '2023-01-01'', start_time='2024-04-02 13:58:37', finish_time='2024-04-02 13:58:37', duration='0:00:00', query_type='CREATE')
2024-04-02 13:58:37 WARNING: Executed ExecutedSqlQuery(uuid='83becbe175f844cb97b9eae6fbab7d34', query='COMMENT ON VIEW v_sales_first_month IS 'sales first month view'', start_time='2024-04-02 13:58:37', finish_time='2024-04-02 13:58:37', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:37 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:37 WARNING: Executed ExecutedSqlQuery(uuid='d5adf197c62b4a0fbcada16b830e6b87', query='SELECT * FROM v_sales_first_month LIMIT 10000', start_time='2024-04-02 13:58:37', finish_time='2024-04-02 13:58:37', duration='0:00:00', query_type='SELECT')

    date_day  sales_total
0 2023-01-01         5332

2024-04-02 13:58:37 WARNING: Transaction committed
2024-04-02 13:58:37 WARNING: Exiting transaction, duration = 0:00:00

In [25]:
vm_sales = SqlViewFactory('vm_sales', 'public', pg_executor).create()
vm_sales

2024-04-02 13:58:37 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:37 WARNING: Executed ExecutedSqlQuery(uuid='d760d18b6ba844b28d1d2934c0d10f50', query='SELECT * FROM pg_views WHERE viewname = 'vm_sales' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:37', finish_time='2024-04-02 13:58:37', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:37 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:37 WARNING: Executed ExecutedSqlQuery(uuid='97ca7c3a3e92495c9f78cdc0cf42fd3e', query='SELECT * FROM pg_matviews WHERE matviewname = 'vm_sales' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:37', finish_time='2024-04-02 13:58:37', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:37 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:37 WARNING: Executed ExecutedSqlQuery(uuid='ea002136518143fb9e4cf055dceb9089', query='SELECT coalesce(nullif(s[1], ''), 'public') grante ... name = 'public' AND relname='vm_sales' LIMIT 10000', start_time='2024-04-02 13:58:37', finish_time='2024-04-02 13:58:37', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:37 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:37 WARNING: Executed ExecutedSqlQuery(uuid='cfb5759fb25b4cf58366cdcca0ce7f0e', query='SELECT DISTINCT dependent_ns.nspname AS dependent_ ...  pg_attribute.attnum > 0 ORDER BY 1, 2 LIMIT 10000', start_time='2024-04-02 13:58:37', finish_time='2024-04-02 13:58:37', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:37 INFO: Found 1 dependant objects for "public"."vm_sales"
2024-04-02 13:58:37 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:37 WARNING: Executed ExecutedSqlQuery(uuid='fff6148b4c394cccb74ccf13a16dbc44', query='SELECT DISTINCT dependent_ns.nspname AS dependent_ ...  pg_attribute.attnum > 0 ORDER BY 1, 2 LIMIT 10000', start_time='2024-04-02 13:58:37', finish_time='2024-04-02 13:58:37', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:37 INFO: Found 1 dependant objects for "public"."v_sales_first_quarter"
2024-04-02 13:58:37 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:37 WARNING: Executed ExecutedSqlQuery(uuid='dd11d5c7800348e5802f9a2ef257e672', query='SELECT DISTINCT dependent_ns.nspname AS dependent_ ...  pg_attribute.attnum > 0 ORDER BY 1, 2 LIMIT 10000', start_time='2024-04-02 13:58:37', finish_time='2024-04-02 13:58:37', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:37 INFO: Found 0 dependant objects for "public"."v_sales_first_month"
2024-04-02 13:58:37 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:37 WARNING: Executed ExecutedSqlQuery(uuid='5aef59759e874a4eb873b231fa2ddefb', query='SELECT * FROM pg_views WHERE viewname = 'v_sales_f ... rst_quarter' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:37', finish_time='2024-04-02 13:58:37', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:37 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:37 WARNING: Executed ExecutedSqlQuery(uuid='21caf059b82046beb5334c605292679f', query='SELECT * FROM pg_matviews WHERE matviewname = 'v_s ... rst_quarter' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:37', finish_time='2024-04-02 13:58:37', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='694ee5108e4b4e85a89fab83ffd8bc77', query='SELECT coalesce(nullif(s[1], ''), 'public') grante ... c' AND relname='v_sales_first_quarter' LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='c408634b1bd74aa581eef09586036c92', query='SELECT DISTINCT dependent_ns.nspname AS dependent_ ...  pg_attribute.attnum > 0 ORDER BY 1, 2 LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 INFO: Found 1 dependant objects for "public"."v_sales_first_quarter"
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='ad289ea7c94b45cfb34064bfc99ae8c0', query='SELECT DISTINCT dependent_ns.nspname AS dependent_ ...  pg_attribute.attnum > 0 ORDER BY 1, 2 LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 INFO: Found 0 dependant objects for "public"."v_sales_first_month"
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='496306f551f045409a34e32197496073', query='SELECT * FROM pg_views WHERE viewname = 'v_sales_first_month' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='180aeca83119453999a09efda5bfc76f', query='SELECT * FROM pg_matviews WHERE matviewname = 'v_s ... first_month' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='26c59f2e9cf047b6b49964e3c17911c6', query='SELECT coalesce(nullif(s[1], ''), 'public') grante ... lic' AND relname='v_sales_first_month' LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='a52063971ab149e18c53a1f8a45a0904', query='SELECT DISTINCT dependent_ns.nspname AS dependent_ ...  pg_attribute.attnum > 0 ORDER BY 1, 2 LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 INFO: Found 0 dependant objects for "public"."v_sales_first_month"
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='358d1dce2cf548a1ba18943d3fc5ccc7', query='SELECT schemaname AS SCHEMA, indexname AS name, in ... first_month' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='eb480ba5e4304193844c81f070eb955b', query='SELECT s.nspname AS table_schema, t.relname AS TAB ...  s.nspname = 'public' GROUP BY 1, 2, 3 LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='7094a9cf49394c6f9ec6d7329ab941d1', query='SELECT schemaname AS SCHEMA, indexname AS name, in ... rst_quarter' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='00a73cf06b7b43a0acb2b07e1e797c2a', query='SELECT s.nspname AS table_schema, t.relname AS TAB ...  s.nspname = 'public' GROUP BY 1, 2, 3 LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 INFO: Used cached version of View with schema = "public" and name = "v_sales_first_month"
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='8389145abb054639a916be6a5febd133', query='SELECT schemaname AS SCHEMA, indexname AS name, in ... = 'vm_sales' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')

2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='a59a9d140c324fafaefc647e419ce368', query='SELECT s.nspname AS table_schema, t.relname AS TAB ...  s.nspname = 'public' GROUP BY 1, 2, 3 LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')

View(schema='public', name='vm_sales', full_name='"public"."vm_sales"', view_type=<ViewType.MATERIALIZED_VIEW: 'vm'>, owner='postgres', dependant_objects_number=2, indexes_number=0)

In [26]:
pd.DataFrame([vm_sales] + vm_sales.dependant_objects).full_display(width=True)

,schema,name,full_name,view_type,owner,definition,privileges,dependant_objects,dependant_objects_number,indexes,indexes_number,table_description,col_descriptions
0,public,vm_sales,"""public"".""vm_sales""",ViewType.MATERIALIZED_VIEW,postgres,"SELECT '2023-01-01'::date AS date_day,\n 5332 AS sales_total\nUNION ALL\n SELECT '2023-02-01'::date AS date_day,\n 8676 AS sales_total\nUNION ALL\n SELECT '2023-03-01'::date AS date_day,\n 1345 AS sales_total\nUNION ALL\n SELECT '2023-04-01'::date AS date_day,\n 2609 AS sales_total;","{'postgres': ['DELETE', 'INSERT', 'REFERENCES', 'SELECT', 'TRIGGER', 'TRUNCATE', 'UPDATE']}","[{'schema': 'public', 'name': 'v_sales_first_quarter', 'full_name': '""public"".""v_sales_first_quarter""', 'view_type': ViewType.REGULAR_VIEW, 'owner': 'postgres', 'definition': ' SELECT vm_sales.date_day, vm_sales.sales_total FROM vm_sales WHERE ((date_trunc('quarter'::text, (vm_sales.date_day)::timestamp with time zone))::date = '2023-01-01'::date);', 'privileges': {'postgres': ['DELETE', 'INSERT', 'REFERENCES', 'SELECT', 'TRIGGER', 'TRUNCATE', 'UPDATE']}, 'dependant_objects': [{'sch...",2,[],0,None,"{'date_day': 'date day', 'sales_total': 'sales total'}"
1,public,v_sales_first_quarter,"""public"".""v_sales_first_quarter""",ViewType.REGULAR_VIEW,postgres,"SELECT vm_sales.date_day,\n vm_sales.sales_total\n FROM vm_sales\n WHERE ((date_trunc('quarter'::text, (vm_sales.date_day)::timestamp with time zone))::date = '2023-01-01'::date);","{'postgres': ['DELETE', 'INSERT', 'REFERENCES', 'SELECT', 'TRIGGER', 'TRUNCATE', 'UPDATE']}","[{'schema': 'public', 'name': 'v_sales_first_month', 'full_name': '""public"".""v_sales_first_month""', 'view_type': ViewType.REGULAR_VIEW, 'owner': 'postgres', 'definition': ' SELECT v_sales_first_quarter.date_day, v_sales_first_quarter.sales_total FROM v_sales_first_quarter WHERE ((date_trunc('month'::text, (v_sales_first_quarter.date_day)::timestamp with time zone))::date = '2023-01-01'::date);', 'privileges': {'postgres': ['DELETE', 'INSERT', 'REFERENCES', 'SELECT', 'TRIGGER', 'TRUN...",1,[],0,sales first quarter view,"{'date_day': None, 'sales_total': 'sales total'}"
2,public,v_sales_first_month,"""public"".""v_sales_first_month""",ViewType.REGULAR_VIEW,postgres,"SELECT v_sales_first_quarter.date_day,\n v_sales_first_quarter.sales_total\n FROM v_sales_first_quarter\n WHERE ((date_trunc('month'::text, (v_sales_first_quarter.date_day)::timestamp with time zone))::date = '2023-01-01'::date);","{'postgres': ['DELETE', 'INSERT', 'REFERENCES', 'SELECT', 'TRIGGER', 'TRUNCATE', 'UPDATE']}",[],0,[],0,sales first month view,"{'date_day': None, 'sales_total': None}"

In [27]:
print(vm_sales.definition)

vm_sales.definition = '''
    SELECT '2023-02-01'::date AS date_day, 8676 AS sales_total
UNION ALL
    SELECT '2023-03-01'::date AS date_day, 1345 AS sales_total
UNION ALL
    SELECT '2023-04-01'::date AS date_day, 2609 AS sales_total
'''

 SELECT '2023-01-01'::date AS date_day,
    5332 AS sales_total
UNION ALL
 SELECT '2023-02-01'::date AS date_day,
    8676 AS sales_total
UNION ALL
 SELECT '2023-03-01'::date AS date_day,
    1345 AS sales_total
UNION ALL
 SELECT '2023-04-01'::date AS date_day,
    2609 AS sales_total;

In [28]:
SqlViewMaterializer(vm_sales, pg_executor).materialize()

2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='c3c87adf697e4f29b150e8bdb72c443b', query='SELECT * FROM pg_views WHERE viewname = 'vm_sales' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='cf4f6ea2e2d343da99ee711faa2052db', query='SELECT * FROM pg_matviews WHERE matviewname = 'vm_sales' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='78202c127b04461ea916ad64f5853903', query='SELECT coalesce(nullif(s[1], ''), 'public') grante ... name = 'public' AND relname='vm_sales' LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='a343c65e14b14125b3e307b7bce75117', query='SELECT DISTINCT dependent_ns.nspname AS dependent_ ...  pg_attribute.attnum > 0 ORDER BY 1, 2 LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 INFO: Found 1 dependant objects for "public"."vm_sales"
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='8cc19e023f26406a85667e145083339b', query='SELECT DISTINCT dependent_ns.nspname AS dependent_ ...  pg_attribute.attnum > 0 ORDER BY 1, 2 LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 INFO: Found 1 dependant objects for "public"."v_sales_first_quarter"
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='632451b6a97d42b3b98dfa47966f4b4e', query='SELECT DISTINCT dependent_ns.nspname AS dependent_ ...  pg_attribute.attnum > 0 ORDER BY 1, 2 LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 INFO: Found 0 dependant objects for "public"."v_sales_first_month"
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='e8f4477e9c914c00a13840c9c289f8fe', query='SELECT * FROM pg_views WHERE viewname = 'v_sales_f ... rst_quarter' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='214e3f1af88446ddb2811d1e8ca274c9', query='SELECT * FROM pg_matviews WHERE matviewname = 'v_s ... rst_quarter' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='36c29247c4174e19ab7a48175027a7d4', query='SELECT coalesce(nullif(s[1], ''), 'public') grante ... c' AND relname='v_sales_first_quarter' LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='e83a622ba99a4cfe84afbfaecfe669ca', query='SELECT DISTINCT dependent_ns.nspname AS dependent_ ...  pg_attribute.attnum > 0 ORDER BY 1, 2 LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 INFO: Found 1 dependant objects for "public"."v_sales_first_quarter"
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='d6c00d3bfb594e61bd0dc6a2d77d74b3', query='SELECT DISTINCT dependent_ns.nspname AS dependent_ ...  pg_attribute.attnum > 0 ORDER BY 1, 2 LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 INFO: Found 0 dependant objects for "public"."v_sales_first_month"
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='aff98e22ba7049cd9398d40498f1ea3b', query='SELECT * FROM pg_views WHERE viewname = 'v_sales_first_month' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='d0e68d5492b341e8ab69fbff9206afcb', query='SELECT * FROM pg_matviews WHERE matviewname = 'v_s ... first_month' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='570e181a35794c2daa489d05c3798bec', query='SELECT coalesce(nullif(s[1], ''), 'public') grante ... lic' AND relname='v_sales_first_month' LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='f305275353034b48ad271ebe37bfd904', query='SELECT DISTINCT dependent_ns.nspname AS dependent_ ...  pg_attribute.attnum > 0 ORDER BY 1, 2 LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 INFO: Found 0 dependant objects for "public"."v_sales_first_month"
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='107c63f0646f41539b2ba818e7a839ac', query='SELECT schemaname AS SCHEMA, indexname AS name, in ... first_month' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='3ceb6a5f8bb64d8c97ad21551c4d47e0', query='SELECT s.nspname AS table_schema, t.relname AS TAB ...  s.nspname = 'public' GROUP BY 1, 2, 3 LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:38 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:38 WARNING: Executed ExecutedSqlQuery(uuid='bdcef9f4170d4b2f805d46a3c2eccf21', query='SELECT schemaname AS SCHEMA, indexname AS name, in ... rst_quarter' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:38', finish_time='2024-04-02 13:58:38', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:39 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='7e2301317f104c3b8c73c617558ec25d', query='SELECT s.nspname AS table_schema, t.relname AS TAB ...  s.nspname = 'public' GROUP BY 1, 2, 3 LIMIT 10000', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:39 INFO: Used cached version of View with schema = "public" and name = "v_sales_first_month"
2024-04-02 13:58:39 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='88de2c34aaa74e03bb7202d37c50354b', query='SELECT schemaname AS SCHEMA, indexname AS name, in ... = 'vm_sales' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='SELECT')

2024-04-02 13:58:39 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='de2642f27d2640aeb09252da9967a96c', query='SELECT s.nspname AS table_schema, t.relname AS TAB ...  s.nspname = 'public' GROUP BY 1, 2, 3 LIMIT 10000', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:39 INFO: Found different value for field: definition
2024-04-02 13:58:39 WARNING: To change definition view "public"."vm_sales" will be fully recreated
2024-04-02 13:58:39 WARNING: Starting transaction
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='12eb6cfd43c24cd9b1e5f70883e33055', query='DROP VIEW "public"."v_sales_first_month"', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='DROP')
2024-04-02 13:58:39 INFO: View "public"."v_sales_first_month" dropped
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='200f03236b034d848c3bad2141258a23', query='DROP VIEW "public"."v_sales_first_quarter"', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='DROP')
2024-04-02 13:58:39 INFO: View "public"."v_sales_first_quarter" dropped
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='309daebbf0464eeba8c660098e09c3aa', query='DROP MATERIALIZED VIEW "public"."vm_sales"', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='DROP')
2024-04-02 13:58:39 INFO: View "public"."vm_sales" dropped
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='d56cb392d33c4447be2a3027dc8e54e1', query='CREATE MATERIALIZED VIEW "public"."vm_sales" AS SE ... date AS date_day, 2609 AS sales_total WITH NO DATA', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='CREATE')
2024-04-02 13:58:39 INFO: Created "public"."vm_sales"
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='d24f3fba008444a4aa287a0dde10af49', query='ALTER MATERIALIZED VIEW "public"."vm_sales" OWNER TO postgres', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='ALTER')
2024-04-02 13:58:39 INFO: View "public"."vm_sales" owner set to postgres
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='e0401c7295b641b09a6ef38a32b7e859', query='GRANT DELETE ON "public"."vm_sales" TO postgres', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='d694d3891578472eb6857745da5b184d', query='GRANT INSERT ON "public"."vm_sales" TO postgres', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='b95ebecf0a6c49d691ba5a623ac1d481', query='GRANT REFERENCES ON "public"."vm_sales" TO postgres', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='416255aba86b4355a06ba0545aa578d5', query='GRANT SELECT ON "public"."vm_sales" TO postgres', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='d889567abcd34c1899251cc09470e5df', query='GRANT TRIGGER ON "public"."vm_sales" TO postgres', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='4bb90c57c88f464bad80a45b8aa403b3', query='GRANT TRUNCATE ON "public"."vm_sales" TO postgres', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='4acb1b89b2334f858706dda0ba04e343', query='GRANT UPDATE ON "public"."vm_sales" TO postgres', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 INFO: View "public"."vm_sales" privileges set
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='efb1bc01ad824bf69be1e353ffa5c886', query='COMMENT ON COLUMN "public"."vm_sales".date_day IS 'date day'', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='1f3852a1eb9b4ab49d630068dd17002b', query='COMMENT ON COLUMN "public"."vm_sales".sales_total IS 'sales total'', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='312437e9c8a342c883b4c8a34d50a0f3', query='CREATE VIEW "public"."v_sales_first_quarter" AS SE ... stamp WITH TIME ZONE))::date = '2023-01-01'::date)', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='CREATE')
2024-04-02 13:58:39 INFO: Created "public"."v_sales_first_quarter"
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='51369e52a300473fb39e886d25a4e7d2', query='ALTER VIEW "public"."v_sales_first_quarter" OWNER TO postgres', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='ALTER')
2024-04-02 13:58:39 INFO: View "public"."v_sales_first_quarter" owner set to postgres
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='fc17d62dccab482a83e30496c3f85903', query='GRANT DELETE ON "public"."v_sales_first_quarter" TO postgres', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='1302ab2008f047c6916ed4ae09ee0c44', query='GRANT INSERT ON "public"."v_sales_first_quarter" TO postgres', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='1d1597e393b04a74afdbe32dd8f04c1f', query='GRANT REFERENCES ON "public"."v_sales_first_quarter" TO postgres', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='7c9a3f11311f49b8881d53589cb2de56', query='GRANT SELECT ON "public"."v_sales_first_quarter" TO postgres', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='2b03080cbb0d44878ff2054a1a67f823', query='GRANT TRIGGER ON "public"."v_sales_first_quarter" TO postgres', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='1ebb1b878ba04d76a0f0a06eb5f5127e', query='GRANT TRUNCATE ON "public"."v_sales_first_quarter" TO postgres', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='e428fb6787704d528458431d42f64fc4', query='GRANT UPDATE ON "public"."v_sales_first_quarter" TO postgres', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 INFO: View "public"."v_sales_first_quarter" privileges set
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='172ed0b36a304ca7afc1565376657a5b', query='COMMENT ON VIEW "public"."v_sales_first_quarter" IS 'sales first quarter view'', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='b1abd409240741958415fb07fbdece9e', query='COMMENT ON COLUMN "public"."v_sales_first_quarter".sales_total IS 'sales total'', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='fb94c7585a364fcf844aaa562ea9d935', query='CREATE VIEW "public"."v_sales_first_month" AS SELE ... stamp WITH TIME ZONE))::date = '2023-01-01'::date)', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='CREATE')

2024-04-02 13:58:39 INFO: Created "public"."v_sales_first_month"
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='f65aa7acdf89480f9568c9c833b0dc13', query='ALTER VIEW "public"."v_sales_first_month" OWNER TO postgres', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='ALTER')
2024-04-02 13:58:39 INFO: View "public"."v_sales_first_month" owner set to postgres
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='0e93329ec63f4acbb4e985425b95581e', query='GRANT DELETE ON "public"."v_sales_first_month" TO postgres', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='ee142cc770dc48d2a66e05575d99cb12', query='GRANT INSERT ON "public"."v_sales_first_month" TO postgres', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='761fe495a13e4e31b1c1928cae2a3fdf', query='GRANT REFERENCES ON "public"."v_sales_first_month" TO postgres', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='6c7d120e4f5f4ee7ac2c9b596553dfed', query='GRANT SELECT ON "public"."v_sales_first_month" TO postgres', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='3f870755b20a44558ef4ecf65c1f2794', query='GRANT TRIGGER ON "public"."v_sales_first_month" TO postgres', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='988dd193a8134154a4a50b3dcf7a0b2e', query='GRANT TRUNCATE ON "public"."v_sales_first_month" TO postgres', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='f2e7a7f2c8904afe8e5bd03185fbe5fb', query='GRANT UPDATE ON "public"."v_sales_first_month" TO postgres', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 INFO: View "public"."v_sales_first_month" privileges set
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='176e8968819f4654be6b9cc31f8f33fb', query='COMMENT ON VIEW "public"."v_sales_first_month" IS 'sales first month view'', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 INFO: Refreshing "public"."vm_sales"...
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='109768b0800049078a02d9463419be25', query='REFRESH MATERIALIZED VIEW "public"."vm_sales"', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:39 INFO: Refreshed "public"."vm_sales"
2024-04-02 13:58:39 INFO: Refreshing "public"."v_sales_first_quarter"...
2024-04-02 13:58:39 INFO: Skipping regular view "public"."v_sales_first_quarter"
2024-04-02 13:58:39 INFO: Refreshed "public"."v_sales_first_quarter"
2024-04-02 13:58:39 INFO: Refreshing "public"."v_sales_first_month"...
2024-04-02 13:58:39 INFO: Skipping regular view "public"."v_sales_first_month"
2024-04-02 13:58:39 INFO: Refreshed "public"."v_sales_first_month"
2024-04-02 13:58:39 INFO: Creating indexes for "public"."vm_sales"...
2024-04-02 13:58:39 INFO: Created indexes for "public"."vm_sales"
2024-04-02 13:58:39 INFO: Creating indexes for "public"."v_sales_first_quarter"...
2024-04-02 13:58:39 INFO: Created indexes for "public"."v_sales_first_quarter"
2024-04-02 13:58:39 INFO: Creating indexes for "public"."v_sales_first_month"...
2024-04-02 13:58:39 INFO: Created indexes for "public"."v_sales_first_month"
2024-04-02 13:58:39 WARNING: Transaction committed
2024-04-02 13:58:39 WARNING: Exiting transaction, duration = 0:00:00
2024-04-02 13:58:39 INFO: View <sqldbclient.dialects.postgresql.sql_view_materializer.sql_view_materializer.SqlViewMaterializer object at 0x13eb55d60> recreated
2024-04-02 13:58:39 INFO: Field definition set to
    SELECT '2023-02-01'::date AS date_day, 8676 AS sales_total
UNION ALL
    SELECT '2023-03-01'::date AS date_day, 1345 AS sales_total
UNION ALL
    SELECT '2023-04-01'::date AS date_day, 2609 AS sales_total

In [29]:
pg_executor.execute('''
    SELECT * FROM v_sales_first_quarter
''')

2024-04-02 13:58:39 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='03dc8a6e3bb746aba960c38dd235dc51', query='SELECT * FROM v_sales_first_quarter LIMIT 10000', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='SELECT')

    date_day  sales_total
0 2023-02-01         8676
1 2023-03-01         1345

In [30]:
pg_executor.execute('''
    SELECT * FROM v_sales_first_month
''')

2024-04-02 13:58:39 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='57ff859e37364306ad5443f9707d00c3', query='SELECT * FROM v_sales_first_month LIMIT 10000', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='SELECT')

Empty DataFrame
Columns: [date_day, sales_total]
Index: []

In [31]:
vm_sales = SqlViewFactory('vm_sales', 'public', pg_executor).create()
vm_sales

2024-04-02 13:58:39 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='72666915300549ddacb76a0b162f20b9', query='SELECT * FROM pg_views WHERE viewname = 'vm_sales' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:39 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='a5160ad09ca642eb847ad8e3036639b3', query='SELECT * FROM pg_matviews WHERE matviewname = 'vm_sales' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:39 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='e5fdc5ca36eb4cc88ca400b07b5ad144', query='SELECT coalesce(nullif(s[1], ''), 'public') grante ... name = 'public' AND relname='vm_sales' LIMIT 10000', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:39 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='547217aefed34456866bdd987efc1cd1', query='SELECT DISTINCT dependent_ns.nspname AS dependent_ ...  pg_attribute.attnum > 0 ORDER BY 1, 2 LIMIT 10000', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:39 INFO: Found 1 dependant objects for "public"."vm_sales"
2024-04-02 13:58:39 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='1cc46eb23ae946f7bc72f1dcdd0a5a09', query='SELECT DISTINCT dependent_ns.nspname AS dependent_ ...  pg_attribute.attnum > 0 ORDER BY 1, 2 LIMIT 10000', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:39 INFO: Found 1 dependant objects for "public"."v_sales_first_quarter"
2024-04-02 13:58:39 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='0fba371098434bf6a0fae555479e5b5c', query='SELECT DISTINCT dependent_ns.nspname AS dependent_ ...  pg_attribute.attnum > 0 ORDER BY 1, 2 LIMIT 10000', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:39 INFO: Found 0 dependant objects for "public"."v_sales_first_month"
2024-04-02 13:58:39 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='2f2672b66a754e2e93d97845fabdf0db', query='SELECT * FROM pg_views WHERE viewname = 'v_sales_f ... rst_quarter' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:39 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='3c6b4aeee5f4455bb0e1bf5e0bedc270', query='SELECT * FROM pg_matviews WHERE matviewname = 'v_s ... rst_quarter' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:39 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='e01c6e88ab534f46a23c56b03c4b326c', query='SELECT coalesce(nullif(s[1], ''), 'public') grante ... c' AND relname='v_sales_first_quarter' LIMIT 10000', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:39 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='708ae7140e824c908c9c293b6a1f12f5', query='SELECT DISTINCT dependent_ns.nspname AS dependent_ ...  pg_attribute.attnum > 0 ORDER BY 1, 2 LIMIT 10000', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:39 INFO: Found 1 dependant objects for "public"."v_sales_first_quarter"
2024-04-02 13:58:39 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='1dda41dcfd9d4354afd59d69e2963e45', query='SELECT DISTINCT dependent_ns.nspname AS dependent_ ...  pg_attribute.attnum > 0 ORDER BY 1, 2 LIMIT 10000', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:39 INFO: Found 0 dependant objects for "public"."v_sales_first_month"
2024-04-02 13:58:39 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='7ef6b68cb9374874a7f599ef168e4542', query='SELECT * FROM pg_views WHERE viewname = 'v_sales_first_month' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:39 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='2f1913db2fd641a386e9e8d511480037', query='SELECT * FROM pg_matviews WHERE matviewname = 'v_s ... first_month' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:39 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='7a523ad9a2124f038b37246b04802243', query='SELECT coalesce(nullif(s[1], ''), 'public') grante ... lic' AND relname='v_sales_first_month' LIMIT 10000', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:39 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='e4b060eb880c48d9995d41312913911e', query='SELECT DISTINCT dependent_ns.nspname AS dependent_ ...  pg_attribute.attnum > 0 ORDER BY 1, 2 LIMIT 10000', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:39 INFO: Found 0 dependant objects for "public"."v_sales_first_month"
2024-04-02 13:58:39 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='0b609f9494e34f72b6f84960d10e49c2', query='SELECT schemaname AS SCHEMA, indexname AS name, in ... first_month' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:39 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='484914d79ac948258fb15d1ae9a23f6c', query='SELECT s.nspname AS table_schema, t.relname AS TAB ...  s.nspname = 'public' GROUP BY 1, 2, 3 LIMIT 10000', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:39 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:39 WARNING: Executed ExecutedSqlQuery(uuid='f101945ea1d9473fbd1cbd6c24c680ea', query='SELECT schemaname AS SCHEMA, indexname AS name, in ... rst_quarter' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:39', finish_time='2024-04-02 13:58:39', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:40 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:40 WARNING: Executed ExecutedSqlQuery(uuid='4f46c34442a44e78a940272e7f15eaba', query='SELECT s.nspname AS table_schema, t.relname AS TAB ...  s.nspname = 'public' GROUP BY 1, 2, 3 LIMIT 10000', start_time='2024-04-02 13:58:40', finish_time='2024-04-02 13:58:40', duration='0:00:00', query_type='SELECT')
2024-04-02 13:58:40 INFO: Used cached version of View with schema = "public" and name = "v_sales_first_month"
2024-04-02 13:58:40 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:40 WARNING: Executed ExecutedSqlQuery(uuid='bf77fcf48e91473889834e2d9c65f652', query='SELECT schemaname AS SCHEMA, indexname AS name, in ... = 'vm_sales' AND schemaname = 'public' LIMIT 10000', start_time='2024-04-02 13:58:40', finish_time='2024-04-02 13:58:40', duration='0:00:00', query_type='SELECT')

2024-04-02 13:58:40 WARNING: SELECT query will be limited to 10000
2024-04-02 13:58:40 WARNING: Executed ExecutedSqlQuery(uuid='76425a975b604966a49243b687c56ae0', query='SELECT s.nspname AS table_schema, t.relname AS TAB ...  s.nspname = 'public' GROUP BY 1, 2, 3 LIMIT 10000', start_time='2024-04-02 13:58:40', finish_time='2024-04-02 13:58:40', duration='0:00:00', query_type='SELECT')

View(schema='public', name='vm_sales', full_name='"public"."vm_sales"', view_type=<ViewType.MATERIALIZED_VIEW: 'vm'>, owner='postgres', dependant_objects_number=2, indexes_number=0)

In [32]:
pd.DataFrame([vm_sales] + vm_sales.dependant_objects).full_display(width=True)

,schema,name,full_name,view_type,owner,definition,privileges,dependant_objects,dependant_objects_number,indexes,indexes_number,table_description,col_descriptions
0,public,vm_sales,"""public"".""vm_sales""",ViewType.MATERIALIZED_VIEW,postgres,"SELECT '2023-02-01'::date AS date_day,\n 8676 AS sales_total\nUNION ALL\n SELECT '2023-03-01'::date AS date_day,\n 1345 AS sales_total\nUNION ALL\n SELECT '2023-04-01'::date AS date_day,\n 2609 AS sales_total;","{'postgres': ['DELETE', 'INSERT', 'REFERENCES', 'SELECT', 'TRIGGER', 'TRUNCATE', 'UPDATE']}","[{'schema': 'public', 'name': 'v_sales_first_quarter', 'full_name': '""public"".""v_sales_first_quarter""', 'view_type': ViewType.REGULAR_VIEW, 'owner': 'postgres', 'definition': ' SELECT vm_sales.date_day, vm_sales.sales_total FROM vm_sales WHERE ((date_trunc('quarter'::text, (vm_sales.date_day)::timestamp with time zone))::date = '2023-01-01'::date);', 'privileges': {'postgres': ['DELETE', 'INSERT', 'REFERENCES', 'SELECT', 'TRIGGER', 'TRUNCATE', 'UPDATE']}, 'dependant_objects': [{'sch...",2,[],0,None,"{'date_day': 'date day', 'sales_total': 'sales total'}"
1,public,v_sales_first_quarter,"""public"".""v_sales_first_quarter""",ViewType.REGULAR_VIEW,postgres,"SELECT vm_sales.date_day,\n vm_sales.sales_total\n FROM vm_sales\n WHERE ((date_trunc('quarter'::text, (vm_sales.date_day)::timestamp with time zone))::date = '2023-01-01'::date);","{'postgres': ['DELETE', 'INSERT', 'REFERENCES', 'SELECT', 'TRIGGER', 'TRUNCATE', 'UPDATE']}","[{'schema': 'public', 'name': 'v_sales_first_month', 'full_name': '""public"".""v_sales_first_month""', 'view_type': ViewType.REGULAR_VIEW, 'owner': 'postgres', 'definition': ' SELECT v_sales_first_quarter.date_day, v_sales_first_quarter.sales_total FROM v_sales_first_quarter WHERE ((date_trunc('month'::text, (v_sales_first_quarter.date_day)::timestamp with time zone))::date = '2023-01-01'::date);', 'privileges': {'postgres': ['DELETE', 'INSERT', 'REFERENCES', 'SELECT', 'TRIGGER', 'TRUN...",1,[],0,sales first quarter view,"{'date_day': None, 'sales_total': 'sales total'}"
2,public,v_sales_first_month,"""public"".""v_sales_first_month""",ViewType.REGULAR_VIEW,postgres,"SELECT v_sales_first_quarter.date_day,\n v_sales_first_quarter.sales_total\n FROM v_sales_first_quarter\n WHERE ((date_trunc('month'::text, (v_sales_first_quarter.date_day)::timestamp with time zone))::date = '2023-01-01'::date);","{'postgres': ['DELETE', 'INSERT', 'REFERENCES', 'SELECT', 'TRIGGER', 'TRUNCATE', 'UPDATE']}",[],0,[],0,sales first month view,"{'date_day': None, 'sales_total': None}"

### Utils

In [33]:
grant_access(
    object_name='sales_statistics', 
    object_schema='public', 
    user_name='postgres',
    sql_executor=pg_executor,
    privilege='SELECT',
)

2024-04-02 13:58:40 WARNING: Starting transaction
2024-04-02 13:58:40 WARNING: Executed ExecutedSqlQuery(uuid='bff615374ba84b2bbea2500575477f40', query='GRANT USAGE ON SCHEMA "public" TO "postgres"', start_time='2024-04-02 13:58:40', finish_time='2024-04-02 13:58:40', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:40 WARNING: Executed ExecutedSqlQuery(uuid='20cd6f4d6a0f49c1aafaf4d1529934f1', query='GRANT SELECT ON "public"."sales_statistics" TO "postgres"', start_time='2024-04-02 13:58:40', finish_time='2024-04-02 13:58:40', duration='0:00:00', query_type='UNKNOWN')
2024-04-02 13:58:40 WARNING: Transaction committed
2024-04-02 13:58:40 WARNING: Exiting transaction, duration = 0:00:00